* {
    box-sizing: border-box;
}

body {
    background-color: hsl(212, 45%, 89%);
    font-size: 15px;
}

.main {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    text-align: center;
    width: 70%;
    border-radius: 5%;
    margin-left: auto;
    margin-right: auto;
}

img {
    width: 90%;
    border-radius: 5%;
    margin-top: 5%;
}

.text {
    text-align: center;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 5%;
    padding-bottom: 5%;
}

.bold {
    font-weight: bold;
    margin-bottom: 5%;
}

.scan {
    font-size: .75em;
}
