* {
    box-sizing: border-box;
}

body {
    background-color: hsl(212, 45%, 89%);
    font-size: 15px;
}

.main {
    background-color: white;
    text-align: center;
    width: 75%;
    border-radius: 5%;
    margin-left: auto;
    margin-right: auto;
}

img {
    width: 75%;
    border-radius: 5%;
    margin-top: 15px;
}

.text {
    text-align: center;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    padding-bottom: 10px;
}

.bold {
    font-weight: bold;
    margin-bottom: 10px;
}

.scan {
    font-size: .75em;
}